<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Future Inc. - Blogger</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

            <header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" rel="home" href="index.html" title="Future Inc">
          <img style="max-width:40px; margin-top: -7px;" src="images/img/logo2.png">
        </a>
        <a style="color:#FFFFFF" class="navbar-brand" href="#">
          <strong>AFTER EFFECTS</strong>
        </a>
      </div>
      <div>
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a href="home.ejs">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a>Mobile</a></li>
              <li><a href="bigdata.ejs">Big Data</a></li>
              <li><a href="ioe-iot.ejs">IoE/IoT</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="management.ejs">Management</a></li>
              <li><a>Code of Conduct</a></li>
              <li><a>Business Process</a></li>
              <li><a href="location.ejs">Locations</a></li>
              <li><a>Contacts</a></li>
            </ul>
          </li>
          <li><a href="index.ejs">Blog</a></li>
        </ul>
      </div>
    </div>
  </nav>
      </header>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

             <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.ejs"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="new-post.ejs"><i class="fa fa-edit fa-fw"></i>Compose New Post</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-calendar fa-fw"></i> October 2015<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="choose-IoT-Provide.ejs">Choosing IoT Provider</a>
                                </li>
                                <li>
                                    <a href="next-step-ind.ejs">Next Step Industry</a>
                                </li>
                                <li>
                                    <a href="iot-ind-cool.ejs">IoT makes Industry cool</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-calendar fa-fw"></i> September 2015<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="apache-spaark.ejs">Apache Spark</a>
                                </li>
                                <li>
                                    <a href="ibm-insight.ejs">Guide to IBM Insight</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                                                <li>
                            <a href="#"><i class="fa fa-calendar fa-fw"></i> August 2015<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="apache-spaark.ejs">Text Mining</a>
                                </li>
                                <li>
                                    <a href="ibm-insight.ejs">The Analytics of Ultra Cycling</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                                                <li>
                            <a href="#"><i class="fa fa-calendar fa-fw"></i> Older Blog Posts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">2014 <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">IoT-Automative</a>
                                        </li>
                                        <li>
                                            <a href="#">Data for Physicians</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                                                <li>
                                    <a href="#">2013 <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Innovative HealthCare</a>
                                        </li>
                                        <li>
                                            <a href="#">IoT-HealthCare</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                                                <li>
                                    <a href="#">2012 <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Iot-Higher Education</a>
                                        </li>
                                        <li>
                                            <a href="#">IoT-Data and Cloud</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Apache Spark</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <p class="text-justify">
                    There is so much excitement around the power of Apache Spark—the analytics operating system that fuels smarter applications everywhere. 
                </p>
                <p class="text-justify">
                    In June, Spark became the cornerstone of the Spark Technology Center, the hub for Spark innovation based in San Francisco. The Spark Summit brought hundreds together in San Francisco to learn more and build with Spark.
                </p>
                <p class="text-justify">
                    In July, Spark became more easy to use, taking data from concept to app deployment with the Spark service on IBM Bluemix.
                </p>
                <p class="text-justify">
                    As the burgeoning Internet of Things (IoT) becomes a reality, it’s estimated that 50 billion devices and objects will be connected to the Internet by 2020. With this massive number of new connections, valuable data will be created at an even faster pace than most companies can manage. That’s why we are pleased to announce Cisco’s intent to acquire ParStream, a privately-held company based in Cologne, Germany that provides an analytics database that allows companies to analyze large amounts of data and store it in near real time anywhere in the network.
                </p>
                <p class="text-justify">
                    Recently, Spark has become the foundation of the entire IBM Analytics Platform—built on Spark, open source and on cloud. This week I had the opportunity to hear from the 10,000 attendees at IBM Insight about the power and potential of Apache Spark. What an eye-opening experience it’s been. 
                </p>
                <p class="text-justify">
                    IBM announced the general availability of the Spark Service on IBM Bluemix—a service thousands are already using to build and deploy apps on Spark. Data science was a beacon of light in the EXPO space where our own Data Science Lab hosted hundreds of new data scientists, showcasing apps on Spark and teaching others how to build and mentoring could-be data scientists. 
                </p>
                <p class="text-justify">
                    Beyond the EXPO, keynote discussions brought Spark to the forefront with use cases shared by SETI, Silicon Valley Data Science, weather hackers and many others. We talked about the role of Spark tracking extraterrestrial life, powering a new rider experience in California with Caltrain and analyzing Twitter feeds in real time for sentiment analysis. The possibilities are endless and up to each of us to imagine and deliver on. Innovation was apparent as we heard from Hack the Weather finalists and awarded the winner. It’s time to take all this excitement and grow our community of data science professionals who are taking this work forward globally. In less than two weeks, 300 data science professionals will gather at Galvanize in San Francisco to share experiences, learn, build and rock their data. Every single participant will build a data product in just three days. Sessions will be led by some of the most accomplished data science professionals in our industry and we’ll be announcing several new scholarship and engagement opportunities for future data science professionals at the event. 
                </p>


                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>



                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <!-- Nested Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Nested Start Bootstrap
                                    <small>August 25, 2014 at 9:30 PM</small>
                                </h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        <!-- End Nested Comment -->
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
