<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Future Inc. - Blogger</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

            <header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" rel="home" href="index.html" title="Future Inc">
          <img style="max-width:40px; margin-top: -7px;" src="images/img/logo2.png">
        </a>
        <a style="color:#FFFFFF" class="navbar-brand" href="#">
          <strong>AFTER EFFECTS</strong>
        </a>
      </div>
      <div>
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a href="home.ejs">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a>Mobile</a></li>
              <li><a href="bigdata.ejs">Big Data</a></li>
              <li><a href="ioe-iot.ejs">IoE/IoT</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="management.ejs">Management</a></li>
              <li><a>Code of Conduct</a></li>
              <li><a>Business Process</a></li>
              <li><a href="location.ejs">Locations</a></li>
              <li><a>Contacts</a></li>
            </ul>
          </li>
          <li><a href="index.ejs">Blog</a></li>
        </ul>
      </div>
    </div>
  </nav>
      </header>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

             <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.ejs"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="new-post.ejs"><i class="fa fa-edit fa-fw"></i>Compose New Post</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-calendar fa-fw"></i> October 2015<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="choose-IoT-Provide.ejs">Choosing IoT Provider</a>
                                </li>
                                <li>
                                    <a href="next-step-ind.ejs">Next Step Industry</a>
                                </li>
                                <li>
                                    <a href="iot-ind-cool.ejs">IoT makes Industry cool</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-calendar fa-fw"></i> September 2015<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="apache-spaark.ejs">Apache Spark</a>
                                </li>
                                <li>
                                    <a href="ibm-insight.ejs">Guide to IBM Insight</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                                                <li>
                            <a href="#"><i class="fa fa-calendar fa-fw"></i> August 2015<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="apache-spaark.ejs">Text Mining</a>
                                </li>
                                <li>
                                    <a href="ibm-insight.ejs">The Analytics of Ultra Cycling</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                                                <li>
                            <a href="#"><i class="fa fa-calendar fa-fw"></i> Older Blog Posts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">2014 <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">IoT-Automative</a>
                                        </li>
                                        <li>
                                            <a href="#">Data for Physicians</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                                                <li>
                                    <a href="#">2013 <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Innovative HealthCare</a>
                                        </li>
                                        <li>
                                            <a href="#">IoT-HealthCare</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                                                <li>
                                    <a href="#">2012 <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Iot-Higher Education</a>
                                        </li>
                                        <li>
                                            <a href="#">IoT-Data and Cloud</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">The finance professional’s guide to IBM Insight 2015</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <p class="text-justify">
                    According to Fortune magazine, disruptive technology has begun transforming every aspect of business. Finance has certainly been no exception—just look at how financial apps and enterprise solutions are driving change in finance and empowering the finance function.
                </p>

                
                    <h3 class="page-header">Be at the center of the financial technology conversation</h3>
                

                <p class="text-justify">
                    IBM Insight 2015 offers finance professionals a front-row seat to see the technologies that are reshaping business. For three days in Las Vegas, join some of the world’s smartest and best-connected finance professionals, influencers and technology experts, all in one place.

Be sure to check out the various sessions scheduled for Insight, but don’t let their sheer number overwhelm you. Ask yourself two things: what you want to see and what you have to see. Then look no farther for help navigating the wealth of offerings at Insight 2015. Instead, read on for a brief guide to sessions that might interest you, as well as to discover some conference best practices and hints that can help you make the most of your Insight 2015 experience.
                </p>
                <p class="text-justify">
                    IBM Insight 2015 offers finance professionals a front-row seat to see the technologies that are reshaping business. For three days in Las Vegas, join some of the world’s smartest and best-connected finance professionals, influencers and technology experts, all in one place.
                </p>
                <p class="text-justify">
                    Be sure to check out the various sessions scheduled for Insight, but don’t let their sheer number overwhelm you. Ask yourself two things: what you want to see and what you have to see. Then look no farther for help navigating the wealth of offerings at Insight 2015. Instead, read on for a brief guide to sessions that might interest you, as well as to discover some conference best practices and hints that can help you make the most of your Insight 2015 experience.
                </p>

                   <h3 class="page-header">Hit the ground running each day</h3>

                <p class="text-justify">
                    Come to the Mandalay Bay Event Center early each morning to grab some coffee and check out the general sessions, which begin at 8:30 AM. They’re a great way to kickstart your conference day.
                </p>
                <p class="text-justify">
                    But these sessions are only the beginning. With so much waiting for you at Insight, you’ll want to be prepared in both mind and body. Are you planning to attend wearing a new pair of loafers? Are the heels of your shoes unsustainably tall? Leave your uncomfortable footgear in your hotel room. Save it for evening socializing with your industry peers, and your body will thank you.
                </p>
                <p class="text-justify">
                    For socialize you will. IBM Insight helps create some of the best networking opportunities available, allowing you to swap experiences and insights with leaders in your industry in a convivial environment. Make the most of the networking opportunities you’ll have at Insight—and don’t forget your business cards, whether physical or virtual.
                </p>


                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>



                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <!-- Nested Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Nested Start Bootstrap
                                    <small>August 25, 2014 at 9:30 PM</small>
                                </h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        <!-- End Nested Comment -->
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
